#about-front {
  display: flex;
  margin-top: 4vh;
}

.front-left {
  width: 46.5vw;
  margin-left: 2vw;
  margin-right: 3vw;
}

.front-right {
  width: 46.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.front-left img {
  width: 100%;
  margin-top: 1vh;
}

.front-right img {
  width: 100%;
}

.roles-block {
  margin-top: 1vh;
  text-align: left;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

#type-line1 {
  font-weight: 400;
  line-height: 1.2;
  display: inline-block;
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 2px;
  font-size: 1.4rem;
  color: #76563f;
  white-space: nowrap;
}

#about-go {
  display: block;
  width: 20vw;
  font-size: 1.6vh;
  text-align: center;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #76563f;
  padding: 0.5vh 1.5vw;
  border: 2px solid #76563f;
  margin-top: 2vh;
}

#about-back {
  width: 100vw;
  margin-top: -17vh;
  height: 20vh;
  box-shadow: 3px 0px 10px #0000002f;
  background: radial-gradient(circle, #fffaf4 0%, #fff7ef 60%, #fff3e8 100%);
}

.about-pro {
  margin-top: 4vh;
}

#about-max {
  display: flex;
  gap: 6vw;
  margin-top: 7vh;
}

.about-pro-tag {
  width: 40vw;
}

.about-pro-tag h3,
.about-pro-tag h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: end;
  font-size: 4vh;
  margin-bottom: 1.5vh;
  color: #76563f;
}

.about-pro-tag h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 600;
  text-align: end;
  letter-spacing: 2px;
  font-size: 6vh;
  color: #76563f;
}

.about-pro-para {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about-pro-para p {
  font-size: 13px;
  width: 45vw;
  font-family: "Inika", serif;
}

#about-go-para {
  display: block;
  width: 20vw;
  font-size: 1.5vh;
  text-align: center;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  padding: 0.5vh 1vw;
  background: linear-gradient(135deg, #e2c7ac 0%, #a97855 100%);
  color: #fff;
  letter-spacing: 1px;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.about-down {
  width: 80vw;
  border-top: 1px solid #4c4742;
  margin-left: 10vw;
  margin-top: 7vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  margin-bottom: 5vh;
}

.about-down h2 {
  margin-top: 2vh;
  text-align: center;
  font-size: 2.5vh;
  font-family: "Inter", sans-serif;
  color: #4c4742;
  line-height: 1.4;
}

.about-down i {
  font-size: 3vh;
  color: #4c4742;
}

/* service section */

#service {
  width: 100vw;
  background-color: #ffffff;
}

.section-one {
  display: flex;
  width: 100vw;
  margin-top: 2vh;
}

#one-A {
  background: url("../assets/about18.png") center/cover no-repeat;
  width: 55vw;
  aspect-ratio: 3006/3007;
}

.section-two {
  display: flex;
  width: 100vw;
  margin-top: 2vh;
}

#one-B {
  background: url("../assets/about27.png") center/cover no-repeat;
  width: 55vw;
  aspect-ratio: 3006/3007;
}

.A-para,
.B-para {
  width: 50vw;
}

.A-para h3,
.B-para h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3.5vh;
  text-align: center;
  margin-right: 5vw;
  letter-spacing: 1px;
  margin-top: 4vh;
  margin-bottom: 1.5vh;
  color: #4c4742;
}

.A-para p {
  text-align: center;
  font-family: "Inika", serif;
  width: 45vw;
  margin-right: 2.5vw;
  font-size: 14px;
}

.B-para p {
  text-align: center;
  font-family: "Inika", serif;
  width: 43vw;
  margin-left: 2.5vw;
  font-size: 14px;
}

.section-three {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url("../assets/about34.png") center/cover no-repeat;
  width: 100vw;
  aspect-ratio: 4608/2602;
  margin-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-three h3 {
  text-align: center;
  font-size: 4vh;
  color: #ffffff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 3px;
}
