#about-front {
  display: flex;
  margin-top: 4vh;
}

.front-left {
  width: 46.5vw;
  margin-left: 2vw;
  margin-right: 3vw;
}

.front-right {
  width: 46.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.front-left img {
  width: 100%;
  margin-top: 1vh;
}

.front-right img {
  width: 100%;
}

.roles-block {
  margin-top: 1vh;
  text-align: left;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

#type-line1 {
  font-weight: 400;
  line-height: 1.2;
  display: inline-block;
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 2px;
  font-size: 1.4rem;
  color: #76563f;
  white-space: nowrap;
}

#about-go {
  display: block;
  font-size: 1.6vh;
  text-align: center;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #76563f;
  padding: 0.5vh 1.5vw;
  border: 2px solid #76563f;
  margin-top: 2vh;
}

#about-back {
  width: 100vw;
  margin-top: -17vh;
  height: 20vh;
  box-shadow: 3px 0px 10px #0000002f;
  background: radial-gradient(circle, #fffaf4 0%, #fff7ef 60%, #fff3e8 100%);
}

.about-pro {
  margin-top: 4vh;
}

#about-max {
  display: flex;
  gap: 6vw;
  margin-top: 7vh;
}

.about-pro-tag {
  width: 40vw;
}

.about-pro-tag h3,
.about-pro-tag h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: end;
  font-size: 4vh;
  margin-bottom: 1.5vh;
  color: #76563f;
}

.about-pro-tag h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 600;
  text-align: end;
  letter-spacing: 2px;
  font-size: 6vh;
  color: #76563f;
}

.about-pro-para {
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about-pro-para p {
  font-size: 13px;
  text-align: left;
  font-family: "Inika", serif;
}

#about-go-para {
  font-size: 1.5vh;
  
  text-align: center;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  padding: 0.5vh 1vw;
  background: linear-gradient(135deg, #e2c7ac 0%, #a97855 100%);
  color: #fff;
  letter-spacing: 1px;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.about-down {
  width: 80vw;
  border-top: 1px solid #4c4742;
  margin-left: 10vw;
  margin-top: 7vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  margin-bottom: 5vh;
}

.about-down h2 {
  margin-top: 2vh;
  text-align: center;
  font-size: 2.5vh;
  font-family: "Inter", sans-serif;
  color: #4c4742;
  line-height: 1.4;
}

.about-down i {
  font-size: 3vh;
  color: #4c4742;
}

/* service section */

#service {
  width: 100vw;
  background-color: #ffffff;
}

.section-one {
  display: flex;
  width: 100vw;
  margin-top: 2vh;
}

#one-A {
  background: url("../assets/about18.webp") center/cover no-repeat;
  width: 52vw;
  aspect-ratio: 3006/3007;
}

.section-two {
  display: flex;
  width: 100vw;
  margin-top: 2vh;
}

#one-B {
  background: url("../assets/about27.webp") center/cover no-repeat;
  width: 52vw;
  aspect-ratio: 3006/3007;
}

.A-para,
.B-para {
  width:48vw;
}


.B-para h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3.5vh;
  text-align: center;
  
  letter-spacing: 1px;
  margin-top: 4vh;
  margin-bottom: 1.5vh;
  color: #4c4742;
}
.A-para h3{
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3.5vh;
  text-align: center;
  margin-right: 5vw;
  letter-spacing: 1px;
  margin-top: 3vh;
  margin-bottom: 1.5vh;
  color: #4c4742;
}

.A-para p {
  text-align: center;
  font-family: "Inika", serif;
  width: 45vw;
  margin-right: 2.5vw;
  font-size: 13px;
}

.B-para p {
  text-align: center;
  font-family: "Inika", serif;
  width: 43vw;
  margin-left: 2.5vw;
  font-size: 13px;
}

.section-three {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url("../assets/about34.webp") center/cover no-repeat;
  width: 100vw;
  aspect-ratio: 4608/2602;
  margin-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-three h3 {
  text-align: center;
  font-size: 4vh;
  color: #ffffff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 3px;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1279px) {
#type-line1{
  font-size: 2.8rem;
  line-height: 1.2;
}
.roles-block{
   height: 2.8rem;
}
#about-go{
  font-size: 2vh;
}
.about-pro-tag h3,
.about-pro-tag h2{
  font-size: 5vh;
}
.about-pro-tag h1{
  font-size: 7vh;
}
.about-pro-para{
  width: 30vw;
}
.about-pro-para p{
  font-size: 24px;
  width: 40vw;
}
#about-go-para{
  font-size: 2vh;
  padding: 0.7vh 0.5vw;
}

.about-down h2 {
  font-size: 3vh;
}
.A-para h3,
.B-para h3{
   font-size: 4.5vh;
   margin-top: 5vh;
}
.A-para p{
  font-size: 24px;
  width: 40vw;
  margin-left: 2vw;
  margin-top: 2vh;
}
.B-para p{
   font-size: 24px;
   width: 40vw;
   margin-top: 2vh;
}
.section-three h3{
  font-size: 5vh;
}

}


/* Laptop / Desktop */
@media (min-width: 1280px) {
.roles-block{
   height: 2.8rem;
}
#type-line1{
  font-size: 2.8rem;
  margin-left: 10%;
  line-height: 1.2;
  letter-spacing: 3px;
}
.front-left img {
  width: 80%;
  margin-left: 10%;
  margin-top: 1vh;
}
.front-right img {
  width: 80%;
  margin-left: 10%;
}
#about-go{
margin-left: 10%;
font-size: 2.5vh;
}
.about-pro{
  display: flex;
  margin-bottom: 8vh;
}
#about-back{
  height: 40vh;
  margin-top: -27vh;
}
.about-pro-tag{
  width: 30vw;
}
#about-max{
   gap: 2vw;
}
.about-pro-para{
  width: 20vw;
}
.about-down{
  border-top: none;
  padding: 2vh 0;
  border-left: 1px solid #4c4742;;
}
.about-pro-tag h3,
.about-pro-tag h2{
  font-size: 5vh;
}
.about-pro-tag h1{
  font-size: 7vh;
}
#about-go-para{
  width: 4vw;
  margin-bottom: 11vh;
}
.about-down{
  margin-left: 5vw;
}
.about-pro-para p{
  font-size: 18px;
}
.about-down h2{
  font-size: 3vh;
  width: 70%;
}
#one-A{
  width: 42vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
#one-B {
  width: 42vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
.B-para h3{
  font-size: 8vh;
}
.A-para h3{
  font-size: 8vh;
}
.A-para p{
  width: 35vw;
  font-size: 22px;
  margin-top: 4vh;
}
.B-para p{
  width: 35vw;
  font-size: 22px;
  margin-top: 4vh;
}
.A-para{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.B-para{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-three{
    width: 90vw;
    margin-left: 5vw;
}
.section-three h3{
  font-size: 8vh;
}

}

/* MOBILE LANDSCAPE */
@media (max-width: 899px) and (orientation: landscape) {
  .about-pro-tag h3,
.about-pro-tag h2{
   font-size: 9vh;
}
.about-pro-tag h1{
   font-size: 10vh;
}
.B-para h3{
  font-size: 10vh;
}
.A-para h3{
  font-size: 10vh;
}
}


/* TABLET LANDSCAPE */
@media (min-width: 768px) and (max-width: 1365px) and (orientation: landscape) {
  #type-line1{
    font-size: 3.5rem;
  }
  .roles-block{
    height: 3.5rem;
  }
  #about-go{
    font-size: 3.5vh;
  }
  .about-pro-tag h3,
.about-pro-tag h2{
  font-size: 7vh;
}
.about-pro-tag h1{
  font-size: 9vh;
}
#about-max{
   margin-top: 10vh;
}
#about-back{
    height:40vh;
    margin-top: -27vh;
}
.about-down h2{
  font-size: 5vh;
}
.about-down i{
  font-size: 5vh;
}
#one-A{
  width: 44vw;
  margin-left: 4vw;
}
#one-B{
  width: 44vw;
  margin-left: 4vw;
}
.B-para h3{
  font-size: 9vh;
  margin-top: 10vh;
}
.A-para h3{
  font-size: 9vh;
  margin-top: 10vh;
}
.A-para p{
  font-size: 30px;
  margin-top: 5vh;
}
.B-para p{
  font-size: 30px;
  margin-top: 5vh;
}
.section-three{
   width: 90vw;
   margin-left: 5vw;
}
.section-three h3{
  font-size: 9vh;
}
}
