@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

#ribb-wrap {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.section-heading {
  text-align: center;
  display: flex;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#ribbon-left {
  transform: rotate(180deg);
  margin-right: -5vw;
  margin-top: -1vh;
  width: 20vw;
  background-color: #646d52;
  height: 5vh;
  clip-path: polygon(100% 0, 60% 50%, 75% 100%, 0 100%, 25% 0);
}

#ribbon-right {
  margin-left: -5vw;
  width: 20vw;
  background-color: #646d52;
  height: 5vh;
  clip-path: polygon(100% 0, 60% 50%, 75% 100%, 0 100%, 25% 0);
  position: relative;
  top: 1vh;
}

.heading-solid {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  font-size: 3vh;
  background-color: #646d52ea;
  color: #fff;
  position: relative;
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  letter-spacing: 4px;
  z-index: 3;
  line-height: 1;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
