.intro {
  background-color: #ffffff;
}

.head {
  font-family: "Oswald", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 220;
  box-shadow: 2px 0px 8px #0000003a;
  display: flex;
  width: 100vw;
  align-items: center;
  height: 5vh;
  background-color: #5b6547dc;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.head h1 {
  font-size: 2.3vh;
  color: #ffffff;
  letter-spacing: 1px;
  margin-left: 6vw;
  margin-right: auto;
  display: block;
}

.hero {
  width: 100vw;
  display: flex;
  align-items: flex-end;
  margin-top: 5vh;
  height: 20vh;
  justify-content: center;
  background: radial-gradient(circle, #fafafa 0%, #eeeeee 50%, #dcdcdc 100%);
  box-shadow: 2px 0px 10px #0000002f;
}

.hero img {
  margin-bottom: -7vh;
  width: 45vw;
  
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#para {
  width: 80vw;
  text-align: justify;
  text-align-last: center;
  color: #76563f;
  font-size: large;
  margin-top: 2vh;
  font-family: "Inika", serif;
  line-height: 1.5;
}

#go {
  display: block;
  width: 20vw;
  font-size: 2.2vh;
  text-align: center;
  margin-top: 3vh;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  padding: 0.5vh 3vw;
  letter-spacing: 1px;
  margin-bottom: 3vh;
  background: linear-gradient(135deg, #e2c7ac 0%, #a97855 100%);
  color: #fff;
}

#t {
  margin-top: 10vh;
  font-family: "Black Han Sans", sans-serif;
  font-size: 3.5vh;
  color: transparent;
  -webkit-text-stroke: 1px #76563f;
  font-weight: 600;
  letter-spacing: 2px;
}

#t2 {
  font-family: "Black Han Sans", sans-serif;
  color: #76563f;
  font-size: 4vh;
  margin-top: 2vh;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 1vh;
}

.social-icons {
  margin-top: 4vh;
  display: flex;
  gap: 6vw;
  font-size: 32px;
  color: #76563f;
}

.social-icons a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}


/* Tablet and up (768px and above) */
@media (min-width: 768px) and (max-width: 1279px) {
  .hero img {
    position: absolute;
    width: 30vw;
    top: 10vh;
  }
  #t {
    margin-top: 11vh;
    font-size: 4.5vh;
  }
  #t2 {
    font-size: 5vh;
    margin-top: 2vh;
    letter-spacing: 2px;
    margin-bottom: 1vh;
  }
  #para {
    width: 70vw;
    text-align: justify;
    text-align-last: center;
    font-size: 2.3vh;
    margin-top: 2vh;
    line-height: 1.5;
  }

  .social-icons {
    margin-top: 5vh;
    gap: 6vw;
    font-size: 55px;
    margin-bottom: 2vh;
  }
  #go {
    width: 20vw;
    font-size: 2.2vh;
    text-align: center;
    margin-top: 3vh;
    padding: 1vh 1.5vw;
    letter-spacing: 1px;
    margin-bottom: 3vh;
  }
}


/* Laptop / Desktop */
@media (min-width: 1280px) {
.intro{
  display: flex;
  gap: 10vw;
}
.hero {
  width: 35vw;
  height: 70vh;
}

#info {
  width: 55vw;
}
#para{
  width: 35vw;
}
.hero img{
  width: 20vw;
  margin-left: 27vw;
  margin-bottom: 18vh;
}
#t{
  margin-top: 15vh;
   font-size: 5vh;
}
#t2{
  font-size: 7vh;
}
.social-icons{
  font-size: 40px;
}
#go{
   padding: 0.5vh 1vw;
   width: 5vw;
   margin-top: 4vh;
}
}