#project-section {
  margin-bottom: 4vh;
}

#project-card {
  width: 94vw;
  border: 1px solid #3e3c3a81;
  margin-left: 3vw;
  display: flex;
  gap: 4vw;
  border-radius: 18px;
}

.project-image {
  width: 35vw;
  background-color: #f5f7f9;
  padding: 2vh 3vw;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  width: 100%;
}

.project-data {
  width: 54vw;
  padding: 2vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-data h3 {
  color: #0a3d62;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3.2vh;
  letter-spacing: 2px;
  font-weight: 800;
}

.project-data p {
  font-size: 14px;
  font-family: "Inika", serif;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 6;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

#card-spans {
  font-family: "Inika", serif;
  display: flex;
  align-items: center;
  gap: 4vw;
}

#button {
  text-align: center;
  padding: 0.7vh 3vw;
  color: #0a3d62;
  font-size: 1.8vh;
  letter-spacing: 1px;
  font-family: "Inika", serif;
  border-radius: 7px;
  border: 1px solid #0a3d62;
}

#status {
  letter-spacing: 1px;
  font-size: 1.8vh;
  padding: 0.7vh 3vw;
  background: linear-gradient(to right, #0a3d62, #0c4b7a);
  color: #fff;
  border-radius: 14px;
  font-family: "Inika", serif;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1279px) {
  .project-image {
    padding: 2.5vh 4vw;
  }
  .project-data {
    padding: 2.5vh 4vw;
  }
  .project-data h3 {
    font-size: 4.5vh;
  }
  .project-data p {
    font-size: 3vw;
    width: 90%;
    line-clamp: 10;
    -webkit-line-clamp: 10;
  }
  #card-spans {
    gap: 6vw;
  }
  #button {
  padding: 1vh 3vw;
  font-size: 2vh;
 }
 #status{
  padding: 1vh 3vw;
  font-size: 2vh;
 }
}

/* Laptop / Desktop */
@media (min-width: 1280px) {
  .project-image {
    padding: 2.5vh 4vw;
  }
  .project-data {
    padding:4vh 4vw;
  }
  .project-data h3 {
    font-size: 7vh;
  }
  .project-data p {
    font-size: 23px;
    width: 90%;
    line-clamp: 10;
    -webkit-line-clamp: 10;
  }
  #card-spans {
    gap: 10vw;
  }
  .project-image img{
    height: 45vh;
    object-fit: cover;
    object-position: top;
  }
  .project-image{
    height: 45vh;
  }
  #project-card {
    width: 88vw;
    margin-left: 6vw;
  }
}



/* TABLET LANDSCAPE */
@media (min-width: 768px) and (max-width: 1365px) and (orientation: landscape) {
 .project-data h3{
  font-size: 8vh;
 }
 #button {
  padding: 2vh 3vw;
  font-size: 3vh;
 }
 #status{
  padding: 2vh 3vw;
  font-size: 3vh;
 }
 .project-data{
  padding: 5vh 3vw;
 }
 .project-image{
  padding: 5vh 3vw;
 }
}
